
:root {
    --decklearn-green: #46B6A0;

    --web-bg: #FFFFFF;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

aside {
    background-color: var(--decklearn-green);
}

aside > header > img {
    height: 100%;
    width: 40%;
    min-width: 4rem;
}

.nav-bar__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav-bar__list > a {
    display: flex;
    align-items: center;
    padding: .5rem;
    text-decoration: none;
    color: white;

}

.nav-bar__list > a > img {
    display: inline-block;
    width: 2rem;
}

.nav-bar__list > a > li {
    display: inline-block;
    text-align: center;
    justify-content: center;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 100;
    padding: .2rem;
}

.center-screen {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 10fr;
    overflow-y: scroll;
    overflow-x: auto;
}

.top-nav {
    background-color: var(--web-bg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #959595;
}

.search-bar {
    min-height: 3rem;
    width: 40%;
    border-radius: 4rem;
    border: 1px solid #ddd;

    background-image: url('../images/search.svg');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    padding-left: 3rem;
}

.content {
    height: 100%;
    background-color: var(--web-bg);
}