@import '../../variables/variables';
@import '../../variables/navs';

.content {
    > h2 {
        display: flex;
        text-align: center;
        margin: 0;
    
        font-size: $title-font-size;
        font-weight: normal;
        border-bottom: 1px solid $border-bottom-color;
    }
}

.deck-view {
    &__content {
        display: blok;
        grid-template-columns: 7fr 8fr;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 2rem;

        h3 {
            font-weight: normal;
            font-size: $title-font-size;
            padding: 0 0 1.5rem 0;
            margin: 0;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 0.8rem;

            box-sizing: border-box;
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        height: 3rem;
        gap: 2rem;
        flex-wrap: wrap;

        a {
            text-align: center;

            display: flex;
            align-items: center;

            border-radius: $button-radius;
            border: 0;

            font-size: $data-font-size;
            padding: 0.8rem 1.8rem 0.8rem 1.8rem;
            
            color: $custom-button-font-color;
            background-color: $card-section-button-color;

            text-decoration: none;
            text-decoration-line: none;
            
            white-space: nowrap;
        }

        :last-child {
            background-color: $card-section-button-color-fail;
        }
    }
}

.info{
    padding-left: 0;
    padding-bottom: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    p {
        color: $paragraph-text-color;
        margin: 0;
    }

    &__details {
        display: flex;
        gap: 0.3rem;
        flex-direction: column;

        &__title {
            font-weight: bold;
        }

        &__response {
            color: black;
        }
    }

    &__button { 
        display: flex;
        justify-content: center;

        a {
            text-align: center;

            border-radius: $button-radius;
            border: 0;
            height: fit-content;
            width: 50%;
            font-size: $data-font-size;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            
            color: $custom-button-font-color;
            background-color: $card-section-button-color;

            text-decoration: none;
            text-decoration-line: none;
            
            white-space: nowrap;
        }
    }

    &__studiesNum{
        text-align: right;
    }
}

@media (min-width: screen-size(medium)){
    .deck-view {
        &__content { 
            display: grid;
        }
        &__buttons {
            justify-content: flex-end;
        }
    }

    
    .info{
        padding-left: 4rem;
        padding-bottom: 0;
    }
}

@media (min-width: screen-size(large)){
    .deck-view {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
}   

@media (min-width: screen-size(extra-large)){
    .deck-view {
        &__content {
            grid-template-columns: 7fr 8fr;
        }
    }
}