@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), url("../../../font/SansForgetica-Regular.woff") format("woff"); }

.stats-section > h2 {
  display: flex;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 1px solid #959595; }

.stats-section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 1rem; }

.stats-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .stats-card__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem; }
  .stats-card h3 {
    margin: 0;
    font-weight: normal;
    padding: 1rem 0 1rem 1rem; }
  .stats-card__content {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 0 0 2.5rem; }
    .stats-card__content p {
      display: flex;
      margin: 0;
      font-size: 4rem;
      padding-bottom: 1rem;
      align-items: center; }
    .stats-card__content img {
      height: 5rem; }
  .stats-card__decoration {
    margin: 0;
    background-color: #46B6A0;
    border-radius: 0 0 0.5rem 0.5rem;
    padding-bottom: 2rem; }

.stats-graphic {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  align-content: stretch;
  gap: 2rem; }
  .stats-graphic__title {
    text-align: center;
    margin: 0; }
  .stats-graphic a {
    text-decoration: none;
    background-color: #01CDA9;
    border-radius: 1.3rem;
    color: #FFFFFF;
    padding: 0.3rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1.3rem;
    cursor: pointer;
    white-space: nowrap; }

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden; }
  .donut-chart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .donut-chart .chart-center {
    position: absolute;
    border-radius: 50%; }
    .donut-chart .chart-center span {
      display: block;
      text-align: center; }

.donut-chart.chart1 {
  width: 15rem;
  height: 15rem;
  background: #46B6A0;
  text-align: center; }
  .donut-chart.chart1 .slice.one {
    clip-path: polygon(0 0, 15rem 0, 15rem 7.5rem, 0% 7.5rem);
    transform: rotate(252deg);
    background: #e1e1e1; }
  .donut-chart.chart1 .slice.two {
    clip-path: polygon(0 0, 7.5rem 0, 7.5rem 15rem, 0 15rem);
    transform: rotate(0deg);
    background: #e1e1e1; }
  .donut-chart.chart1 .chart-center {
    top: 1.5rem;
    left: 1.5rem;
    width: 12rem;
    height: 12rem;
    background: #fff; }
    .donut-chart.chart1 .chart-center span {
      font-size: 40px;
      line-height: 12rem;
      color: #46B6A0; }
      .donut-chart.chart1 .chart-center span:after {
        content: attr(data-after); }

@media (min-width: 762px) {
  .stats-card__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; } }

@media (min-width: 1024px) {
  .stats-section__list {
    grid-template-columns: 3fr 1fr; } }
