@import '../../variables/variables';
@import '../../variables/generic';
@import '../../variables/scrollbar';
@import '../../variables/base';

.following__card{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .card__img{
        padding: 1rem;
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .card__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card__data{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .data__User{
                h2{
                    font-weight: normal;
                    color: $input-underline;
                }
            }
            
            .data_follow{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                span{
                    font-weight: bold;
                }
            }
        }

    }
    
}

.custom-button{
    @include default-button;
}

.selected{
    background-color: $custom-button-border;
    font-weight: bold;
}

.container__following{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

@media (min-width: screen-size(medium)) {
    .following__card{
        
        .card__container{
            flex-direction: row;
            justify-content: space-between;
            gap: 0.5rem;
        }

        .card__data{
            flex-direction: column;
            justify-content: space-evenly;
        }
        .card__input{
            display: flex;
            align-items: flex-end;
        }
    } 
}

@media (min-width: screen-size(large)){
    .container__following{
        grid-template-columns: repeat(2, 1fr);
    }
}   

@media (min-width: screen-size(extra-large)){

}