*, *::before, *::after {
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), local("Sans-Forgetica-Regular"), url("/font/SansForgetica-Regular.woff") format("woff"); }

.card-section {
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem; }

.card-section > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 1px solid #959595; }

.card-section__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem; }

.card {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card-content > h3 {
  text-align: center;
  width: calc(100% - 2rem);
  border-bottom: 1px solid #959595;
  margin-left: 1rem;
  margin-right: 1rem; }

.card-content > img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12.5em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0; }

.card-content > span {
  display: block;
  text-align: left;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: none;
  margin-left: 1rem;
  margin-right: 1rem; }

.card > a {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #01CDA9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white; }

@media (min-width: 762px) {
  .card-section__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
  .card-section {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem; } }

@media (min-width: 1024px) {
  .card-section__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr; }
  .card-section {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem; } }

@media (min-width: 1300px) {
  .card-section__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; }
  .card-section {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem; } }
/*# sourceMappingURL=home.css.map */